<h1 align="center">Pending Requests</h1>

<div class="example-header" fxLayout="row"></div>
<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="uuid">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        UUID
      </mat-header-cell>

      <mat-cell *matCellDef="let element" data-label="name">{{
        element.uuid
      }}</mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        DATE
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="place">{{
        element.date
      }}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Time </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="date">{{
        element.time
      }}</mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="Startupname">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Startupname
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="time">
        {{ element.Startupname }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="name">
        {{ element.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef>
        Meesage[Purpose/Agenda]
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="message">
        {{ element.message }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="approve">
      <mat-header-cell *matHeaderCellDef>
        Approve
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="approve">
        <button mat-raised-button>
          <i class="material-icons">
            check
          </i>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="decilne">
      <mat-header-cell *matHeaderCellDef>
        Decline
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="decilne">
        <button mat-raised-button>
          <i class="material-icons">
            delete_forever
          </i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>
</div>
