
  /* header */
  .example-spacer {
    flex: 1 1 auto;
  }
  .top-level-header {
    position: fixed;
    top: 0;
    margin:0;
    left: 0;
    height: 40px;
background-color: goldenrod;    
}
.mat-chip.mat-standard-chip {
    background-color: #fffdfd !important;
    color: rgba(0,0,0,.87);
}

.sub-header{
    margin-top:48px;
    position: fixed;
    left: 0;
    background-color: #e3dddd;
    height: 35%;
    
}
.example-spacer2{
    flex: 0.5 0.5 auto;
}
.sub-header > .Searchbox{
border: none;
width: 26%;
height: 13%;
border-radius: 20px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 3; /* Firefox */
    
  }
  
  .Sort{
    margin-top:310px;
  }
  .Sort > .sortRows{
      background-color: #d3cfcf !important;
  }
  .MovieLists{
      margin-top: 40px;
      margin-left: 10%;
      margin-right: 10%;
    }
  .MovieLists > .MovieCards{
      width: 300px;
      height: 200px;
      margin-top: 20px;

  }
  .LoadmoreButton{
      margin-top: 50px;
  }
