<!-- Header -->
<div fxLayout="column" style="overflow: auto;">
    <div>
    <mat-toolbar color="primary"  class="top-level-header" fullscreen>
    <mat-toolbar-row>
        <mat-chip-list aria-label="Fish selection" >
            <mat-chip mat-raised-button (click)="back()" style="cursor: pointer;">Back</mat-chip>
          </mat-chip-list>   
      <span class="example-spacer"></span>
      <mat-chip-list aria-label="Fish selection" >
        <mat-chip mat-raised-button (click)="Logout()" style="cursor: pointer;">Logout</mat-chip>
      </mat-chip-list>   
     </mat-toolbar-row>
  </mat-toolbar>
</div>