/* TOP HEADER */
.top-level-header {
    top: 0;
    margin:0;
    left: 0;
    height: 40px;
background-color: goldenrod;    
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-chip.mat-standard-chip {
    background-color: #fffdfd !important;
    color: rgba(0,0,0,.87);
}
/* *********************************************************************************************************** */

/* CAROUSEL CARDS */
.MovieLists{
  margin-top: 25px;
}
.MovieLists > .Carasoulcards{
  height: 220px;
  width: 300px;
}
.CarasoulCardheader{
  background-color: #e3dddd;
  padding:75px;
}
/* *********************************************************************************************************** */

/* CLICKED MOVIE CARD  */
.ClickedMovieCards{
    width: 550px;
    height: 310px;
    margin-top: 88px;
}

.ClickedCardheader{
  background-color: #e3dddd;
  padding:128px;
}
/* *********************************************************************************************************** */
