<!-- Header -->
<div fxLayout="column">
  <div>
    <mat-toolbar color="primary" class="top-level-header" fullscreen>
      <mat-toolbar-row>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip mat-raised-button (click)="back()" style="cursor: pointer;"
            >Back</mat-chip
          >
        </mat-chip-list>
        <span class="example-spacer"></span>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip
            mat-raised-button
            (click)="Logout()"
            style="cursor: pointer;"
            >Logout</mat-chip
          >
        </mat-chip-list>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
<div>
  <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
  [animation]="'slide'">
  <mdb-carousel-item *ngFor="let item of a; let i = index">
      <div  fxLayoutGap="20px" class="MovieLists" fxLayout="row">
      <mat-card class="Carasoulcards"  style="padding:0" *ngFor="let card of a; let cardIndex = index">
        <mat-card-header  class="CarasoulCardheader">
        </mat-card-header>
        <div fxLayout="row" fxLayoutAlign="space-between end" >
          <p>{{card.MovieName}}</p>
        <div style="margin-bottom:15px;">
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
  
      </div>
      </div>
      </mat-card>
      </div>
  </mdb-carousel-item>
</mdb-carousel>
</div>
  <div fxFlexAlign="center" class="ClickedMovieCards" >
  <mat-card style="padding:0" >
    <mat-card-header  class="ClickedCardheader">

    </mat-card-header>
    <mat-card-content style="padding:5px !important;">
      <div fxLayout="row" fxLayoutAlign="space-between end" >
        <p>{{Movienamevar}}</p>
      <div style="margin-bottom:15px;">
  <ngb-rating [(rate)]="Ratingsvar"></ngb-rating>
    </div>
    </div>    </mat-card-content>
  </mat-card>
</div>
</div>
